{% extends 'main/homebase.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% load users_extras %}
{% block title %} Редактирование статьи {% endblock %}
{% block main %}
    <main class="row">
        <div class="col-md-2 side_menu">
        {% block sidebar %} {% include 'main/sidebar.html' %} {% endblock %}
        </div>
        {% block content %}
            <div class="col-md-2"></div>
            <div class="col">
                <div class="text-center" style="margin-top:30px;">
                    <h1 style="font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">Редактирование статьи</h1>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {{ image_form|crispy }}
                        {% if request.user|has_group:"Authors" and article.author_id == request.user.id %}
                            <input type="submit" class="btn btn-success" value = "Сохранить">
                        {% else %}
                            <a href="{% url 'logout' %}" id="warning" class="btn btn-success">&nbspСохранить</a>
                        {% endif %}
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        {% endblock %}
    </main>
    <script>
        warning.onmouseover = handler;
        function handler(event) {

            if (event.type == 'mouseover') {
                alert('Уважаемый пользователь, Вы можете сохранять прогресс только тех новостей, которые создали сами, в противном случае Вы будете разлогинены. Спасибо за понимание.');
            }
        }
    </script>
{% endblock %}
