{% extends 'main/homebase.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% load users_extras %}
{% block title %} Удаление статьи {% endblock %}

{% block main %}
    <main style="height: 70vh;">
        {% block content %}
            <div class="row">
                <div class="text-center" style="margin-top:30px;">
                    <h1 >Удалить {{ article.title }}?</h1>
                    <form method="post" class="contact_form">
                        {% csrf_token %}
                        <a class="btn btn-warning" href="{% url 'news_index' %}">Отмена</a>
                        {% if request.user|has_group:"Authors" and article.author_id == request.user.id %}
                            <input type="submit" class="btn btn-danger" value = "Удалить">
                        {% else %}
                            <a href="{% url 'logout' %}" class="btn btn-danger">&nbspУдалить</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        {% endblock %}
    </main>
{% endblock %}
