{% extends 'main/homebase.html' %}
{% load static %}
{% load bootstrap5 %}
{% load users_extras %}
{% block title %} Новость {% endblock %}
{% block main %}
    <main style="position: relative;">
        <div class="row" style="background: #9D8D8E; min-height: 75vh; background-color: #5B5561;">
            <div class="col-md-2 side_menu" style="list-style: none; z-index: 1">
                <h1 class="text-center" style="font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">Меню</h1>
                {% block sidebar %}
                    <ul class="vstack gap-2" id="main">
                        {% block home %}<li class="p-1"><i class="fa-solid fa-house"></i><a href="{% url 'home' %}" style="text-decoration: none; color: #FDCE4B;">&nbspДомой</a></li>{% endblock %}
                        {% block news %}<li class="p-1"><i class="fa-solid fa-radio"></i><a href="{% url 'news_index' %}" style="text-decoration: none; color: #FDCE4B;">&nbspНовости</a></li>{% endblock %}
                        {% block about %}<li class="p-1"><i class="fa-solid fa-people-group"></i><a href="{% url 'of' %}" style="text-decoration: none; color: #FDCE4B;">&nbspО нас</a></li>{% endblock %}
                        {% block readers %}<li class="p-1"><i class="fa-solid fa-user-group"></i><a href="{% url 'news_readers' %}" style="text-decoration: none; color: #FDCE4B;">&nbspНаши гости</a></li>{% endblock %}
                        {% block user %}
                            {% include 'users/user-actions.html' %}
                        {% endblock %}
                    </ul>
                {% endblock %}
            </div>
            <div class="col-md-4" style="z-index: 0;"></div>
            <div class="row" style="position: fixed;">
                <div class="col-md-2"></div>
                <div class="col-md-4" style="z-index: 1; padding-right: 0;">
                    {% block slider %}
                        {% if article.image_set.all %}
                            <div id="carouselExampleCaptions" class="carousel slide" data-bs-interval="false">
                                <div class="carousel-inner">
                                    {% for image in article.image_set.all %}
                                        <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                                            <img src="{{ image.image.url }}" width="500px" height="500px" alt="фото">
                                            <div class="carousel-caption d-none d-md-block"></div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Предыдущий</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Следующий</span>
                                </button>
                            </div>
                        {% endif%}
                    {% endblock %}
                </div>
                <div class="col-md-6" style="z-index: 0;  padding-left: 0;"></div>
            </div>
            <div class="col-md-6" style="z-index: 1; padding-left: 0;">
                <p class="text-center" style="word-wrap: break-word; text-align: justify; white-space: pre-wrap;">
                    {{ article.text }}
                </p>
                {% if request.user|has_group:"Authors" and article.author_id == request.user.id %}
                    <div class="text-center">
                        <a class="btn btn-outline-info" href="{% url 'news_update' article.pk %}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn btn-outline-secondary" href="{% url 'news_delete' article.pk %}"><i class="fa-solid fa-trash"></i></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
    <script>
        let currentElem = null;
        main.onmouseover = function(event) {
          if (currentElem) return;
          let target = event.target.closest('li');
          if (!target) return;
          if (!main.contains(target)) return;
          currentElem = target;
          target.style.background = '#212529';
          target.style.color = '#FEDE00';
          target.style.boxShadow = "5px -5px 5px #212529, -5px 5px 5px #212529, -5px -5px 5px #212529, 5px 5px 5px #212529";
          target.style.fontWeight = '600';
          currentElem.style.transition = 'all 0.5s';
        };
        main.onmouseout = function(event) {
          if (!currentElem) return;
          let relatedTarget = event.relatedTarget;
          while (relatedTarget) {
            if (relatedTarget == currentElem) return;
            relatedTarget = relatedTarget.parentNode;
          }
          currentElem.style.background = '';
          currentElem.style.color = '#E8C24D';
          currentElem.style.border = '';
          currentElem.style.boxShadow = '';
          currentElem.style.fontWeight = '400';
          currentElem.style.transition = 'all 0.5s';
          currentElem = null;
        };
    </script>
{% endblock %}
{% block foot %}
    <footer class="row" style="position: relative; z-index: 2;">
        <p class="col text-center">Copyright ***{{ request.user }}***</p>
    </footer>
{% endblock %}