{% extends 'main/homebase.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% load users_extras %}
{% block title %} Редактирование статьи {% endblock %}
{% block main %}
    <main style="background: url({% static 'main/img/Volgograd.gif' %}) no-repeat;  background-size: cover;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col center">
                <div class="content_area">
                    <h2 class="title">СОЗДАТЬ/РЕДАКТИРОВАТЬ НОВОСТЬ</h2>
                    <div class="content_area">
                        <div class="inner_footer_top">
                            <div class="single_sidebar">
                                <div class="news-letter">
                                    <div class="container-fluid>">
                                        <form method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ form.media }}
                                            {{ form|crispy }}<br><br>
                                            <div class="row">
                                                {% if request.user.is_superuser or request.user|has_group:"Authors" and article.author_id == request.user.id or request.user|has_group:"Authors" and article.author_id == article.user.id %}
                                                    <div class="col-lg-3">
                                                        <p class="text-center"><input class="btn btn-success" type="submit" value="Сохранить"></p>
                                                    </div>
                                                {% else %}
                                                    <div class="col-lg-3">
                                                        <a href="{% url 'logout' %}" id="not_author" class="btn btn-success">&nbspСохранить</a>
                                                    </div>
                                                {% endif %}
                                                <div class="col-lg-3">
                                                    <p class="text-center"><a class="btn btn-success" href="{% url 'news_index' %}">К списку новостей</a></p>
                                                </div>
                                                <div class="col-lg-3">
                                                    <p class="text-center"><a class="btn btn-success" href="{% url 'user_index' %}">В профиль</a></p>
                                                </div>
                                                <div class="col-lg-3">
                                                    <p class="text-center"><a class="btn btn-secondary" href="javascript:window.history.back();" style="text-decoration: none; color: #FDCE4B;"><i class="fa-solid fa-reply"> Назад</i></a></p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6 class="title"></h6>
                </div>
            </div>
            <div class="col-md-2"></div>
            <script type="text/javascript" src="{% static 'main/js/jquery-min.js' %}"></script>
            <script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'main/js/jquery.bxslider.js' %}"></script>
            <script type="text/javascript" src="{% static 'main/js/selectnav.min.js' %}"></script>
            <script type="text/javascript">
                selectnav('nav', {
                    label: 'Меню',
                    nested: true,
                    indent: ''
                });
                selectnav('f_menu', {
                    label: 'Меню',
                    nested: true,
                    indent: ''
                });
                $('.bxslider').bxSlider({
                    mode: 'fade',
                    captions: true
                });
            </script>
            <script src="https://kit.fontawesome.com/b91fb3443a.js" crossorigin="anonymous"></script>
            <!-- jQuery !-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
            <!-- jQuery UI !-->
            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
            <script>
                    $(function() {
                        $("#search_input").autocomplete({
                            source: "search_auto/",
                            select: function (event, ui) { //item selected
                                AutoCompleteSelectHandler(event, ui)
                            },
                            minLength: 2,
                        });
                    });

                  function AutoCompleteSelectHandler(event, ui)
                  {
                    var selectedObj = ui.item;
                  }
            </script>
            <script>
                not_author.onmouseover = handler;
                function handler(event) {

                    if (event.type == 'mouseover') {
                        alert('Уважаемый пользователь, Вы не являетесь автором Этой новости, Вы не можете изменять или сохранять её состояние.');
                    }
                }
            </script>
        </div>
    </main>
{% endblock %}