{% extends 'main/homebase.html' %}
{% load static %}
{% load users_extras %}
{% block title %} Новости {% endblock %}
{% block main %}
    <main id="main">
        <style>
            .single_news {
                margin-left: 30%;
            }

            .rs-body {
              font-family: "Bellota", cursive, "Arial", "Helvetica Neue", "Helvetica", sans-serif;
              height: 100vh;
              box-sizing: border-box;
              margin: 0;
              padding: 0;
            }

            .rs-container {
              position: relative;
              overflow: hidden;
              width: 100vw;
              height: 100vh;
            }

            .rs-sidebar {
              height: 100%;
              width: 35%;
              position: absolute;
              top: 0;
              left: 0;
              transition: transform 0.5s ease-in-out;
            }

            .rs-sidebar > div {
              height: 100%;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              color: #fff;
            }

            .rs-sidebar h1 {
              font-size: 40px;
              margin-bottom: 10px;
              margin-top: -30px;
            }

            .rs-main-slide {
              height: 100%;
              position: absolute;
              top: 0;
              left: 35%;
              width: 65%;
              transition: transform 0.5s ease-in-out;
            }

            .rs-main-slide > div {
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center center;
              height: 100%;
              width: 100%;
            }

            button {
              background-color: #fff;
              border: none;
              color: #aaa;
              cursor: pointer;
              font-size: 16px;
              padding: 15px;
            }

            button:hover {
              color: #222;
            }

            button:focus {
              outline: none;
            }

            .rs-container .rs-controls button {
              position: absolute;
              left: 35%;
              top: 50%;
              z-index: 100;
            }

            .rs-container .rs-controls .rs-down-button {
              transform: translateX(-100%);
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
            }

            .rs-container .rs-controls .rs-up-button {
              transform: translateY(-100%);
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
            }
        </style>
        <div class="row" style="background: #9D8D8E">
            <div class="col-md-2 side_menu" style="list-style: none;">
                <h1 class="text-center" style="font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">Меню</h1>
                {% block sidebar %}
                    <ul class="vstack gap-2">
                        {% block home %}<li class="p-1"><i class="fa-solid fa-house"></i><a href="{% url 'home' %}" style="text-decoration: none; color: #FDCE4B;">&nbspДомой</a></li>{% endblock %}
                        {% block contacts %}<li class="p-1"><i class="fa-solid fa-address-book"></i><a href="{% url 'contact' %}" style="text-decoration: none; color: #FDCE4B;">&nbspКонтакты</a></li>{% endblock %}
                        {% block about %}<li class="p-1"><i class="fa-solid fa-people-group"></i><a href="{% url 'of' %}" style="text-decoration: none; color: #FDCE4B;">&nbspО нас</a></li>{% endblock %}
                        {% block readers %}<li class="p-1"><i class="fa-solid fa-user-group"></i><a href="{% url 'news_readers' %}" style="text-decoration: none; color: #FDCE4B;">&nbspНаши гости</a></li>{% endblock %}
                        {% block offer %}<li class="p-1"><i class="fa-solid fa-gem"></i><a href="{% url 'action' %}" style="text-decoration: none; color: #FDCE4B;">&nbspАкция</a></li>{% endblock %}
                        {% block subscribe %}<li class="p-1"><i class="fa-solid fa-envelope"></i><a href="{% url 'news_subscribe' %}" style="text-decoration: none; color: #FDCE4B;">&nbspРассылка</a></li>{% endblock %}
                        <li><a href="javascript:window.history.back();" style="text-decoration: none; color: #FDCE4B;"><i class="fa-solid fa-reply"> Назад</i></a></li>
                        {% block user %}
                            {% include 'users/user-actions.html' %}
                        {% endblock %}
                    </ul>
                {% endblock %}
                <a href="https://commons.wikimedia.org/w/index.php?curid=63377057">Авторство цифрового дождя: Jahobr. Собственная работа, CC0</a>
            </div>
            <div class="col">
                <h1 class="text-center" style="font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">А мы тут, знаете ли, плюшками балуемся XD</h1>
                {% block slider %} {% include 'main/team.html' %} {% endblock %}
            </div>
        </div>
        {% block content %}
            <!--script type="text/javascript" src="{% static 'main/js/jquery-min.js' %}"></script-->
            <!-- jQuery !-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <!-- jQuery UI !-->
            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
            <script>
                $(function() {
                                    // Получаем все article.title в массив
                    var rawArticles = document.querySelector(".get-articles").innerHTML.split(', ');

                    // Очищаем массив от лишних символов и пробелов
                    var articles = rawArticles
                        .map(title => title.replace(/[\(\)\n]/g, '').trim()) // Удаляем скобки и переносы строк
                        .filter(title => title.length > 0); // Убираем пустые строки

                    $("#search_input").autocomplete({
                        source: "search_auto/",
                        select: function (event, ui) { //item selected
                            AutoCompleteSelectHandler(event, ui)
                        },
                        minLength: 2,
                    });
                });

              function AutoCompleteSelectHandler(event, ui)
              {
                var selectedObj = ui.item;
              }
            </script>

            <div class="row" style="background-color: #5B5561;">
                <div class="col-md-5" style="background-color: #5B5561;">
                    <div class="row">
                        <form action="{% url 'search_news' %}" method="get">
                            <div class="search">
                                <label for="search_input">Поиск: </label>
                                <input type="text" class="form-control" id="search_input" name="search_input" placeholder="Введите название статьи"/>
                                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col" style="font-family: Iceberg, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">
                    <label>
                        <form method="post">
                            <div class="row">
                                <span class="col-md-1"> Фильтры: </span>
                                <div class="col-md-1"></div>
                                <div class="col input-group">
                                     <select class="form-select" name="author_filter" style="width:40%">
                                          <option value="0">Все авторы</option>
                                          {% for author in author_list %}
                                                {% if author|has_group:"Authors" %}
                                                    <option value="{{ author.id }}" {% if selected == author.id %} selected {% endif %}> {{ author.username }}</option>
                                                {% endif %}
                                          {% endfor %}
                                          <option value="1000">Сегодня</option>
                                     </select>
                                </div>
                                <div class="col input-group">
                                    <select class="form-select" name="category_filter" style="width:40%">
                                        <option value="0">Все категории</option>
                                        {% for c in categories %}
                                            <option value="{{ forloop.counter }}" {% if selected_category == forloop.counter %} selected {% endif %}> {{ c.1 }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <span class="col-md-1 input-group-btn">
                                        <input type="submit" class="btn btn-success" value="&#10003;" style="margin: 0 15px">
                                </span>
                                <div class="col-md-1"></div>
                                <span class="col-md-1">(Всего :{{ articles|length }})</span>
                            </div>
                            {% csrf_token %}
                        </form>
                    </label>
                </div>
            </div>
            <div class="row" style="background: #5B5561">
                <div class="rs-body">
                    <div class="rs-container">
                        <div class="rs-sidebar" {% if articles|length  == 0 %} style="background: url({% static 'main/img/clouds.gif' %}) no-repeat;  background-size: cover;" {% endif %}>
                            {% if articles|length  != 0 %}
                                {% for article in articles %}
                                    <div class="single_news" style="margin: 0; padding: 0;">
                                        <ul class="col-md-6 gap-6" style="list-style: none; color: #FDCE4B;">
                                            <li class="text-center fs-6 p-2" style="word-wrap: break-word; text-align: justify; white-space: pre-wrap; font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">{{ article.title }}</li>
                                            <!--li class="text-center fs-6 p-2" style="font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">
                                                  {% for i in article.title|striptags|slice:":30" %}
                                                    {{ i }}
                                                    {% if forloop.counter|divisibleby:15 and not forloop.last %}
                                                      -<br>
                                                    {% endif %}
                                                  {% endfor %}
                                                  {% if article.title|striptags|length > 50 %}
                                                    ...
                                                  {% endif %}
                                            </li-->
                                            <li class="text-center fs-5 p-2" style="word-wrap: break-word; text-align: justify; white-space: pre-wrap; font-family: Iceberg, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">{{ article.anouncement }}</li>
                                            <!--li class="text-center fs-5 p-2" style="font-family: Iceberg, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">
                                                  {% for i in article.anouncement|striptags|slice:":50" %}
                                                    {{ i }}
                                                    {% if forloop.counter|divisibleby:25 and not forloop.last %}
                                                      -<br>
                                                    {% endif %}
                                                  {% endfor %}
                                                  {% if article.anouncement|striptags|length > 50 %}
                                                    ...
                                                  {% endif %}
                                            </li-->
                                            <!--li class="text-center fs-5">{{ article.anouncement|striptags|slice:":50"|join:" " }}{% if article.anouncement|striptags|length > 50 %}...{% endif %}</li-->
                                            <li class="text-center fs-5 p-2"><a href="{% url 'news_detail' article.pk %}" style="text-decoration: none;"> Читать полностью</a></li>
                                            <!--li class="text-center" style="word-wrap: break-word; text-align: justify; white-space: pre-wrap;"><a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'news_detail' article.pk %}" style="text-decoration: none;">{{ article.text|striptags|slice:":50"|join:" " }}{% if article.text|striptags|length > 50 %}...{% endif %}</a></li-->
                                            <li class="text-center p-2" style="font-family: Iceberg, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">Теги: {% for t in article.tags.all %} {{ t.title }} {% endfor %}</li>
                                            <li class="text-center p-2" style="font-family: Iceberg, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">Автор:
                                                <a class="fs-4" href="{{ article.get_absolute_url_public }}" style="text-decoration: none;">{% for n in article.author.username %} {{ n }} {% endfor %}</a>
                                            </li>
                                            <li class="text-center p-2"><small>Просмотры: {{ article.get_views }}</small></li>
                                        </ul>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="position-relative" style="background: url({% static 'main/img/panic.jpg' %}) no-repeat;  background-size: cover; opacity: 0.4;">
                                    <h1 class="position-absolute bottom-0 start-0"> "Отсутствие новостей -</h1>
                                </div>
                            {% endif %}
                        </div>
                        <div class="rs-main-slide" {% if articles|length  == 0 %} style="background: url({% static 'main/img/clouds.gif' %}) no-repeat;  background-size: cover;" {% endif %}>
                            {% if articles|length  != 0 %}
                                {% for article in articles reversed %}
                                    {% if article.image_set.all %}
                                        <div>
                                            <img src="{{ article.image_set.all.0.image.url }}" width="100%" height="100%" alt="фото">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <div class="position-relative" style="background: url({% static 'main/img/panic_2.png' %}) no-repeat;  background-size: cover; opacity: 0.4;">
                                    <h1 class="position-absolute bottom-0 start-50" style="color: white;"> хорошая новость" </h1>
                                </div>
                            {% endif %}
                        </div>
                        {% if total > 1 %}
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col">
                                    <nav aria-label="Page navigation example">
                                      <ul class="pagination gap-1" style="font-family: Iceberg, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">
                                          {% if articles.has_previous %}
                                            <li class="page-item"><a class="page-link" href="?page={{ articles.previous_page_number }}">Previous</a></li>
                                          {% endif %}
                                          {% for p in articles.paginator.page_range %}
                                            {% if articles.number == p %}
                                                <li class="page-item"><p class="page-link" style="color:black;"> {{ p }}</p></li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link" href="?page={{ p }}"> {{ p }}</a></li>
                                            {% endif %}
                                          {% endfor %}
                                          {% if articles.has_next %}
                                            <li class="page-item"><a class="page-link" href="?page={{ articles.next_page_number }}">Next</a></li>
                                          {% endif %}
                                      </ul>
                                    </nav>
                                </div>
                            </div>
                        {% endif %}
                        <div class="rs-controls">
                            <button class="rs-down-button">
                                <i class="fa-solid fa-arrow-down"></i>
                            </button>
                            <button class="rs-up-button">
                                <i class="fa-solid fa-arrow-up"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </main>
    <script>
        const upBtn = document.querySelector('.rs-up-button');
        const downBtn = document.querySelector('.rs-down-button');
        const sidebar = document.querySelector('.rs-sidebar');
        const container = document.querySelector('.rs-container');

        const mainSlide = document.querySelector('.rs-main-slide')
        const slidesCount = mainSlide.querySelectorAll('div').length;

        let activeSlideIndex = 0;

        sidebar.style.top = `-${(slidesCount - 1) * 100}vh`;

        upBtn.addEventListener('click', () => {
            changeSlide('up');
        })

        downBtn.addEventListener('click', () => {
            changeSlide('down');
        })

        document.addEventListener('keydown', evt => {
            if (evt.key === 'RsArrowUp') {
                changeSlide('up');
            } else if (evt.key === 'RsArrowDown') {
                changeSlide('down');
            }
        })

        function changeSlide(direction) {
            if (direction === 'up') {
                activeSlideIndex++;
                if (activeSlideIndex === slidesCount) {
                    {
                        activeSlideIndex = 0;
                    }
                }
            } else if (direction === 'down') {
              activeSlideIndex--;
              if (activeSlideIndex < 0) {
                activeSlideIndex = slidesCount - 1;
              }
            }

            const height = container.clientHeight;

            mainSlide.style.transform = `translateY(-${activeSlideIndex * height}px)`;

            sidebar.style.transform = `translateY(${activeSlideIndex * height}px)`;
        }
    </script>
    <script>
        let currentElem = null;
        main.onmouseover = function(event) {
          if (currentElem) return;
          let target = event.target.closest('li');
          if (!target) return;
          if (!main.contains(target)) return;
          currentElem = target;
          target.style.background = '#212529';
          target.style.color = '#FEDE00';
          target.style.boxShadow = "5px -5px 5px #212529, -5px 5px 5px #212529, -5px -5px 5px #212529, 5px 5px 5px #212529";
          target.style.fontWeight = '600';
          currentElem.style.transition = 'all 0.5s';
        };
        main.onmouseout = function(event) {
          if (!currentElem) return;
          let relatedTarget = event.relatedTarget;
          while (relatedTarget) {
            if (relatedTarget == currentElem) return;
            relatedTarget = relatedTarget.parentNode;
          }
          currentElem.style.background = '#5B5561';
          currentElem.style.color = '#E8C24D';
          currentElem.style.border = '';
          currentElem.style.boxShadow = '';
          currentElem.style.fontWeight = '400';
          currentElem.style.transition = 'all 0.5s';
          currentElem = null;
        };
    </script>
{% endblock %}
