{% extends 'main/homebase.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% regroup readers by id as reader_list %}
{% block title %} Участники {% endblock %}

{% block main %}
    <main class="row" style="background: url({% static 'main/img/зима.gif' %}) no-repeat;  background-size: cover; position: relative; height: auto;">
        <div class="col-md-2 side_menu" style="list-style: none; position: relative; height: auto;">
            {% block sidebar %}
                <h1 class="text-center" style="font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">Меню</h1>
                {% block home %}<li><i class="fa-solid fa-house"></i><a href="{% url 'home' %}" style="text-decoration: none; color: #FDCE4B;">&nbspДомой</a></li>{% endblock %}
                {% block news %}<li><i class="fa-solid fa-radio"></i><a href="{% url 'news_index' %}" style="text-decoration: none; color: #FDCE4B;">&nbspНовости</a></li>{% endblock %}
                {% block contacts %}<li><i class="fa-solid fa-address-book"></i><a href="{% url 'contact' %}" style="text-decoration: none; color: #FDCE4B;">&nbspКонтакты</a></li>{% endblock %}
                {% block about %}<li><i class="fa-solid fa-people-group"></i><a href="{% url 'of' %}" style="text-decoration: none; color: #FDCE4B;">&nbspО нас</a></li>{% endblock %}
                {% block user %}
                        {% include 'users/user-actions.html' %}
                {% endblock %}
            {% endblock %}
            <div style="height: 13vh;"></div>
        </div>
        {% block content %}
            <div class="col text-center">
                <h1 style="font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">Гости сайта</h1>
                <div class="row">
                    <div class="col-md-3" style="margin: 0; padding: 0;"></div>
                        <ul class="col">
                            {% for article in unique_articles %}
                                {% for reader in unique_readers %}
                                    {% if reader == article %}
                                        <li><a href="{% url 'user_detail' reader %}">{{reader}}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    <div class="col-md-3" style="margin: 0; padding: 0;"></div>
                </div>
            </div>
        {% endblock %}
    </main>
{% endblock %}