{% extends 'main/homebase.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block title %} Страница обратной связи {% endblock %}
{% block main %}
    <main class="row" style="background: url({% static 'main/img/рассвет.jpg' %}) no-repeat;  background-size: cover;">
        <div class="col-md-2 side_menu">
            {% block sidebar %} {% include 'main/sidebar.html' %} {% endblock %}
        </div>
        {% block content %}
            <div class="col-md-1"></div>
                <div class="col">
                    <h2 class="text-center"><i class="fa-solid fa-envelope"> Страница обратной связи</i></h2><br>
                    <div class="container-fluid>">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.media }}
                            {{ form|crispy }}
                            <p class="text-center"><input class="btn btn-success" type="submit" value="Отправить"></p>
                        </form>
                    </div>
                </div>
            <div class="col-md-1"></div>
            <script type="text/javascript" src="{% static 'main/js/jquery-min.js' %}"></script>
            <script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'main/js/jquery.bxslider.js' %}"></script>
            <script type="text/javascript" src="{% static 'main/js/selectnav.min.js' %}"></script>
            <script type="text/javascript">
                selectnav('nav', {
                    label: 'Меню',
                    nested: true,
                    indent: ''
                });
                selectnav('f_menu', {
                    label: 'Меню',
                    nested: true,
                    indent: ''
                });
                $('.bxslider').bxSlider({
                    mode: 'fade',
                    captions: true
                });
            </script>
            <script src="https://kit.fontawesome.com/b91fb3443a.js" crossorigin="anonymous"></script>
            <script src="https://kit.fontawesome.com/b91fb3443a.js" crossorigin="anonymous"></script>
            <!-- jQuery !-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
            <!-- jQuery UI !-->
            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
            <script>
                    $(function() {
                        $("#search_input").autocomplete({
                            source: "search_auto/",
                            select: function (event, ui) { //item selected
                                AutoCompleteSelectHandler(event, ui)
                            },
                            minLength: 2,
                        });
                    });

                  function AutoCompleteSelectHandler(event, ui)
                  {
                    var selectedObj = ui.item;
                  }
            </script>
        {% endblock %}
    </main>
{% endblock %}
