{% extends 'main/homebase.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block title %} Изменение пароля {% endblock %}

{% block main %}
    <main class="row" style="height: 94vh;">
        {% block content %}
            <div class="row" style="margin: 0; padding: 0;">
                <div class="col-md-2 side_menu" style="list-style: none;">
                    {% block sidebar %}
                        <h1 class="text-center" style="font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">Меню</h1>
                        {% block home %}<li><i class="fa-solid fa-house"></i><a href="{% url 'home' %}" style="text-decoration: none; color: #FDCE4B;">&nbspДомой</a></li>{% endblock %}
                        {% block news %}<li><i class="fa-solid fa-radio"></i><a href="{% url 'news_index' %}" style="text-decoration: none; color: #FDCE4B;">&nbspНовости</a></li>{% endblock %}
                        {% block contacts %}<li><i class="fa-solid fa-address-book"></i><a href="{% url 'contact' %}" style="text-decoration: none; color: #FDCE4B;">&nbspКонтакты</a></li>{% endblock %}
                        {% block about %}<li><i class="fa-solid fa-people-group"></i><a href="{% url 'of' %}" style="text-decoration: none; color: #FDCE4B;">&nbspО нас</a></li>{% endblock %}
                    {% endblock %}
                </div>
                <div class="col-md-2" style="background: linear-gradient(57deg, #5B5561 50%, #46344E 90%);"></div>
                <div class="col" style="background: url({% static 'main/img/park.jpg' %}) no-repeat;  background-size: cover">
                    <div class="row">
                        <div class="text-center" style="margin-top:30px;">
                            <h1 style="font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;"> Изменение пароля аккаунта </h1>
                            <form method="post" class="contact-form">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <input class='btn btn-success' type="submit" value="Обновить">
                                <a class='btn btn-warning' href="{% url 'user_index' %}">Отмена</a>
                            </form>
                        </div>
                    </div>
                    <div class="text-center"><a href="https://ru.freepik.com/free-photo/the-beautiful-road-is-surrounded-by-greenery_1145624.htm" style="text-decoration: none; color: white;">Изображение от onlyyouqj</a> на Freepik</div>
                </div>
                <div class="col-md-2" style="background: linear-gradient(318deg, #46344E 40%, #9EB246 90%);"></div>
            </div>
        {% endblock %}
    </main>
{% endblock %}