{% extends 'main/homebase.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block title %} Вход в аккаунт {% endblock %}

{% block main %}
    <main class="row" style="height: 94vh;">
        {% block content %}
            <div class="row" style="margin: 0; padding: 0;">
                <div class="col-md-2 side_menu" style="list-style: none;">
                    {% block sidebar %}
                        <h1 class="text-center" style="font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">Меню</h1>
                        <ul id="main" class="vstack gap-2">
                            {% block home %}<li class="p-1"><i class="fa-solid fa-house"></i><a href="{% url 'home' %}" style="text-decoration: none; color: #FDCE4B;">&nbspДомой</a></li>{% endblock %}
                            {% block news %}<li class="p-1"><i class="fa-solid fa-radio"></i><a href="{% url 'news_index' %}" style="text-decoration: none; color: #FDCE4B;">&nbspНовости</a></li>{% endblock %}
                            {% block contacts %}<li class="p-1"><i class="fa-solid fa-address-book"></i><a href="{% url 'contact' %}" style="text-decoration: none; color: #FDCE4B;">&nbspКонтакты</a></li>{% endblock %}
                            {% block about %}<li class="p-1"><i class="fa-solid fa-people-group"></i><a href="{% url 'of' %}" style="text-decoration: none; color: #FDCE4B;">&nbspО нас</a></li>{% endblock %}
                            {% block offer %}<li class="p-1"><i class="fa-solid fa-gem"></i><a href="{% url 'action' %}" style="text-decoration: none; color: #FDCE4B;">&nbspАкция</a></li>{% endblock %}
                            <li><a href="javascript:window.history.back();" style="text-decoration: none; color: #FDCE4B;"><i class="fa-solid fa-reply"> Назад</i></a></li>
                        </ul>
                    {% endblock %}
                </div>
                <div class="col-md-2" style="background: linear-gradient(57deg, #030408 50%, #303746 90%);"></div>
                <div class="col" style="background: url({% static 'main/img/дорога.jpeg' %}) no-repeat;  background-size: cover">
                    <div class="row">
                        <div class="text-center" style="margin-top:30px;">
                            <h1 style="font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">Войти в аккаунт</h1>
                            <form method="post" class="contact_form">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <input type="submit" class="btn btn-success" value = "Войти">
                                <div class="border-top pt-3" style="margin-top: 20%;">
                                    <small class="text-muted"> Нужен аккаунт?</small>
                                    <a class="ml-2" href="{% url 'registration' %}">Зарегистрироваться</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="background: linear-gradient(318deg, #0D0908 40%, #4f81be 90%);"></div>
            </div>
            <script>
                let currentElem = null;
                main.onmouseover = function(event) {
                  if (currentElem) return;
                  let target = event.target.closest('li');
                  if (!target) return;
                  if (!main.contains(target)) return;
                  currentElem = target;
                  target.style.background = '#212529';
                  target.style.color = '#FEDE00';
                  target.style.boxShadow = "5px -5px 5px #212529, -5px 5px 5px #212529, -5px -5px 5px #212529, 5px 5px 5px #212529";
                  target.style.fontWeight = '600';
                  currentElem.style.transition = 'all 0.5s';
                };
                main.onmouseout = function(event) {
                  if (!currentElem) return;
                  let relatedTarget = event.relatedTarget;
                  while (relatedTarget) {
                    if (relatedTarget == currentElem) return;
                    relatedTarget = relatedTarget.parentNode;
                  }
                  currentElem.style.background = '';
                  currentElem.style.color = '#E8C24D';
                  currentElem.style.border = '';
                  currentElem.style.boxShadow = '';
                  currentElem.style.fontWeight = '400';
                  currentElem.style.transition = 'all 0.5s';
                  currentElem = null;
                };
            </script>
        {% endblock %}
    </main>
{% endblock %}