{% extends 'main/homebase.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block title %} Вход в аккаунт {% endblock %}

{% block main %}
    <main class="row" style="background: url({% static 'main/img/собачё.gif' %}) no-repeat;  background-size: cover; height: 120vh;">
        <div class="col-md-2 side_menu" style="list-style: none;">
            {% block sidebar %}
                <h1 class="text-center" style="font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">Меню</h1>
                {% block home %}<li><i class="fa-solid fa-house"></i><a href="{% url 'home' %}" style="text-decoration: none; color: #FDCE4B;">&nbspДомой</a></li>{% endblock %}
                {% block news %}<li><i class="fa-solid fa-radio"></i><a href="{% url 'news_index' %}" style="text-decoration: none; color: #FDCE4B;">&nbspНовости</a></li>{% endblock %}
                {% block contacts %}<li><i class="fa-solid fa-address-book"></i><a href="{% url 'contact' %}" style="text-decoration: none; color: #FDCE4B;">&nbspКонтакты</a></li>{% endblock %}
                {% block about %}<li><i class="fa-solid fa-people-group"></i><a href="{% url 'of' %}" style="text-decoration: none; color: #FDCE4B;">&nbspО нас</a></li>{% endblock %}
                {% block readers %}<li><i class="fa-solid fa-user-group"></i><a href="{% url 'news_readers' %}" style="text-decoration: none; color: #FDCE4B;">&nbspНаши гости</a></li>{% endblock %}
            {% endblock %}
        </div>
        {% block content %}
            <div class="col">
                <div class="text-center" style="margin-top:30px;">
                        <h1 style="font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">Вы вышли из аккаунта</h1>
                    <div class="border-top pt-3">
                        <a class="ml-2" href="{% url 'login' %}">Войти снова</a>
                    </div>
                </div>
            </div>
        {% endblock %}
    </main>
{% endblock %}