{% extends 'main/homebase.html' %}
{% load static %}
{% block title %} Публичная страница {% endblock %}
{% block header %}
    <header class="row" style="background: linear-gradient(87deg, #9D8D8E 30%, #535985 70%) center fixed">
        <div class="col-md-1"></div>
        <img class="col-md-1 app__logo" src="{% static 'main/img/logo.svg' %}" width="100" height="100" alt="логотип" style="transition: all 1.5s;" onmouseover="this.style.transform='scale(1.5) rotate(1440deg)';" onmouseout="this.style.transform='none';">
        <div class="col-md-1"></div>
        <div class="col-md-3" style="margin-top: 2%">
            <h1>D E P L O Y 53</h1>
        </div>
        {% block clock %}
            {% include 'main/clock-special.html' %}
        {% endblock %}
    </header>
{% endblock %}
{% block main %}
    <main class="row" style="background: url({% static 'main/img/field.gif' %}) no-repeat;  background-size: cover;">
        <div class="col-md-2 side_menu" style="background: linear-gradient(167deg, #9D8D8E 30%, #A5796C 70%) center fixed; list-style: none;">
            <h1 class="text-center" style="font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">Меню</h1>
            {% block sidebar %}
                {% block home %}<li><i class="fa-solid fa-house"></i><a href="{% url 'home' %}" style="text-decoration: none; color: #FDCE4B;">&nbspДомой</a></li>{% endblock %}
                <br>
                {% block user %}
                    {% include 'users/user-actions.html' %}
                {% endblock %}
            {% endblock %}
        </div>
        <ul class="col" style="list-style: none;">
            <li class="col-md-5" style="background: #9D8D8E; padding: 30% 0 0 30%; margin: 1%; opacity: 0.9;">
                <img src="{{ author.account_image.url }}" id="user-ava" alt="коллега" style="height: 40vh;" />
            </li>
            <li class="col-md-5" style="background: #9D8D8E; padding: 4% 0 0 4%; margin: 1%; opacity: 0.5;">
                <p>Имя</p>
            </li>
            <li class="col-md-5" style="background: #9D8D8E; padding: 4% 0 0 4%; margin: 1%; opacity: 0.5;">
                <p>Фамилия</p>
            </li>
            <li class="col-md-5" style="background: #9D8D8E; padding: 4% 0 0 4%; margin: 1%; opacity: 0.5;">
                <p>День рождения</p>
            </li>
            <li class="col-md-5" style="background: #9D8D8E; padding: 4% 0 0 4%; margin: 1%; opacity: 0.5;">
                <p>Город</p>
            </li>
            <li class="col-md-5" style="background: #9D8D8E; padding: 4% 0 0 4%; margin: 1%; opacity: 0.5;">
                <p>Место работы</p>
            </li>
            <li class="col-md-5" style="background: #9D8D8E; padding: 4% 0 0 4%; margin: 1%; opacity: 0.5;">
                <p>Дата регистрации</p>
            </li>
            <li class="col-md-5" style="background: #9D8D8E; padding: 4% 0 0 4%; margin: 1%; opacity: 0.5;">
                <p>Почта</p>
            </li>
        </ul>
        <ul class="col-md-5" style="margin-top: 12%;  list-style: none;">
            <li class="col-md-12" style="background: #9D8D8E; padding: 50% 0 0 50%; margin: 1%; opacity: 0;"></li>
            <li class="col-md-12" style="background: #9D8D8E; padding: 4% 0 0 4%; margin: 1%; opacity: 0.5;">
                <p>USER DATA</p>
            </li>
            <li class="col-md-12" style="background: #9D8D8E; padding: 4% 0 0 4%; margin: 1%; opacity: 0.5;">
                <p>USER DATA</p>
            </li>
            <li class="col-md-12" style="background: #9D8D8E; padding: 4% 0 0 4%; margin: 1%; opacity: 0.5;">
                <p>USER DATA</p>
            </li>
            <li class="col-md-12" style="background: #9D8D8E; padding: 4% 0 0 4%; margin: 1%; opacity: 0.5;">
                <p>USER DATA</p>
            </li>
            <li class="col-md-12" style="background: #9D8D8E; padding: 4% 0 0 4%; margin: 1%; opacity: 0.5;">
                <p>USER DATA</p>
            </li>
            <li class="col-md-12" style="background: #9D8D8E; padding: 4% 0 0 4%; margin: 1%; opacity: 0.5;">
                <p>USER DATA</p>
            </li>
            <li class="col-md-12" style="background: #9D8D8E; padding: 4% 0 0 4%; margin: 1%; opacity: 0.5;">
                <p>USER DATA</p>
            </li>
        </ul>
        <ul class="row" style="list-style: none;">
            <li class="col-md-2" style="background: #9D8D8E; padding: 4% 0 0 4%; opacity: 0.7;"></li>
            <li class="col-md-2" style="background: #9D8D8E; padding: 4% 0 0 4%; opacity: 0.6;"></li>
            <li class="col-md-2" style="background: #9D8D8E; padding: 4% 0 0 4%; opacity: 0.5;"></li>
            <li class="col-md-2" style="background: #9D8D8E; padding: 4% 0 0 4%; opacity: 0.4;"></li>
            <li class="col-md-2" style="background: #9D8D8E; padding: 4% 0 0 4%; opacity: 0.3;"></li>
            <li class="col-md-2" style="background: #9D8D8E; padding: 4% 0 0 4%; opacity: 0.2;"></li>
        </ul>
    </main>
{% endblock %}