{% extends 'main/homebase.html' %}
{% load static %}
{% block title %} О нас {% endblock %}
{% block header %}
    <header class="row" style="background: linear-gradient(87deg, #2F649E 30%,#aef9ce00 70%) center fixed, url({% static 'main/img/stars.gif' %});">
        <div class="col-md-1"></div>
        <img class="col-md-1 app__logo" src="{% static 'main/img/logo.svg' %}" width="100" height="100" alt="логотип" style="transition: all 1.5s;" onmouseover="this.style.transform='scale(1.5) rotate(1440deg)';" onmouseout="this.style.transform='none';">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h1>D E P L O Y 53</h1>
            <br>
            <div style="margin-left: 7%;"><p style="margin: 0; padding: 0;">Студия создания сайтов и</p><span style="margin-left: 20%;">приложений</span></div>
        </div>
        {% block clock %}
            {% include 'main/clock-special.html' %}
        {% endblock %}
    </header>
{% endblock %}
{% block main %}
    <main class="row">
        <div class="row">
            <div class="col-md-2 side_menu" style="background: linear-gradient(164deg, #2F649E 30%,#aef9ce00 70%) center fixed, url({% static 'main/img/stars.gif' %}); list-style: none;">
                <h1 class="text-center" style="font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">Меню</h1>
                {% block sidebar %}
                    {% block home %}<li><i class="fa-solid fa-house"></i><a href="{% url 'home' %}" style="text-decoration: none; color: #FDCE4B;">&nbspДомой</a></li>{% endblock %}
                    {% block news %}<li><i class="fa-solid fa-radio"></i><a href="{% url 'news_index' %}" style="text-decoration: none; color: #FDCE4B;">&nbspНовости</a></li>{% endblock %}
                    {% block contacts %}<li><i class="fa-solid fa-address-book"></i><a href="{% url 'contact' %}" style="text-decoration: none; color: #FDCE4B;">&nbspКонтакты</a></li>{% endblock %}
                    {% block readers %}<li><i class="fa-solid fa-user-group"></i><a href="{% url 'news_readers' %}" style="text-decoration: none; color: #FDCE4B;">&nbspНаши гости</a></li>{% endblock %}
                    {% block user %}
                        {% include 'users/user-actions.html' %}
                    {% endblock %}
                {% endblock %}
                <p class="text-center"><a href="https://i.gifer.com/origin/7e/7e4abc8a38403620fdb573948aa5c9b1.gif">источник звёздной гифки</a></p>
            </div>
            <div class="col">
                <h1 class="text-center" style="font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">С коллегами регаемся на openai.com</h1>
                {% block slider %} {% include 'main/devs.html' %} {% endblock %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="background: linear-gradient(164deg, #2F649E 30%,#aef9ce00 70%) center fixed, url({% static 'main/img/stars.gif' %});">
                <div id="vk_post_178644073_3573"></div>
                <div id="vk_post_178644073_3576"></div>
                <div id="vk_post_178644073_3593"></div>
            </div>
            <div class="col">
                {% block gallery %}
                    {% include 'main/gallery.html' %}
                {% endblock %}
            </div>
        </div>
    </main>
    <!--Музыка-->
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
    <script type="text/javascript">
      (function() {
        VK.Widgets.Post("vk_post_178644073_3573", 178644073, 3573, '8MWUM_EhHj4MADmuzImgd-_-IcE8');
      }());
    </script>

    <script type="text/javascript">
      (function() {
        VK.Widgets.Post("vk_post_178644073_3576", 178644073, 3576, '9A1RGYBjFceSZZMAL3GG1qF9-LwF');
      }());
    </script>

    <script type="text/javascript">
      (function() {
        VK.Widgets.Post("vk_post_178644073_3593", 178644073, 3593, '_XWZmNAYHegz1f36ojoDulbIFqVT');
      }());
    </script>
{% endblock %}