{% extends 'main/homebase.html' %}
{% load static %}
{% block title %} Контакты {% endblock %}
{% block slider %} {% include 'main/hero.html' %} {% endblock %}
{% block sidebar %}
    {% block home %} <i class="fa-solid fa-house"></i><a href="/">&nbspДомой</a> {% endblock %}
    <li><i class="fa-solid fa-radio"></i>&nbspНовости</li>
    <li><i class="fa-solid fa-address-card"></i>&nbspМой профиль</li>
    <li><i class="fa-regular fa-pen-to-square"></i>&nbspРегистрация</li>
    <li><i class="fa-solid fa-person-through-window"></i>&nbspВход в аккаунт</li>
{% endblock %}