{% extends 'main/homebase.html' %}
{% load static %}
{% block title %} Контакты {% endblock %}
{% block main %}
    <main class="row">
        <div class="col-md-2 side_menu" style="list-style: none;">
            <h1 class="text-center" style="font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">Меню</h1>
            {% block sidebar %}
                {% block home %}<li><i class="fa-solid fa-house"></i><a href="{% url 'home' %}" style="text-decoration: none; color: #FDCE4B;">&nbspДомой</a></li>{% endblock %}
                {% block news %}<li><i class="fa-solid fa-radio"></i><a href="{% url 'news_index' %}" style="text-decoration: none; color: #FDCE4B;">&nbspНовости</a></li>{% endblock %}
                {% block about %}<li><i class="fa-solid fa-people-group"></i><a href="{% url 'of' %}" style="text-decoration: none; color: #FDCE4B;">&nbspО нас</a></li>{% endblock %}
                {% block readers %}<li><i class="fa-solid fa-user-group"></i><a href="{% url 'news_readers' %}" style="text-decoration: none; color: #FDCE4B;">&nbspНаши гости</a></li>{% endblock %}
                {% block user %}
                    {% include 'users/user-actions.html' %}
                {% endblock %}
            {% endblock %}
        </div>
        <div class="col-md-6">
            {% block slider %}
                {% include 'main/hero.html' %}
            {% endblock %}
        </div>
        <div class="col-md-4">
            {% block contacts %}
                {% include 'main/draw.html' %}
            {% endblock %}
        </div>
    </main>
{% endblock %}