{% load static %}
    <!--div style="background: url('https://i.gifer.com/GEBR.gif') no-repeat;  background-size: cover"><img src="{% static 'main/img/openapi.png' %}" width="100%" height="600" alt="openapi"></div-->
    {% if "https://pa1.aminoapps.com/7076/8c01e8d792b62f67b468a47dcc5977b36fb31ef7r1-500-500_hq.gif" not in request.META.HTTP_REFERER|default_if_none:'' %}
        <div style="background: url('https://pa1.aminoapps.com/7076/8c01e8d792b62f67b468a47dcc5977b36fb31ef7r1-500-500_hq.gif') no-repeat;  background-size: cover"><img src="{% static 'main/img/openapi.png' %}" width="100%" height="600" alt="openapi"></div>
    {% else %}
        <div style="background: url({% static 'main/img/blaze.gif' %}) no-repeat;  background-size: cover"><img src="{% static 'main/img/openapi.png' %}" width="100%" height="600" alt="openapi"></div>
    {% endif %}