{% load static %}
    <header class="row" style="background: url({% static 'main/img/blessed.jpg' %}) no-repeat center; background-size: cover; height: 20vh;">
        <div class="col-md-1"></div>
        <img class="col-md-1 app__logo" src="{% static 'main/img/logo.svg' %}" width="100" height="100" alt="логотип" style="transition: all 1.5s;" onmouseover="this.style.transform='scale(1.5) rotate(1440deg)';" onmouseout="this.style.transform='none';">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h1 style="background: linear-gradient(77deg, #6b667081 10%, #aef9ce00 100%);">D E P L O Y 53</h1>
            <!--div style="margin-left: 7%;"><p style="margin: 0; padding: 0;">Студия создания сайтов и</p><span style="margin-left: 10%;">приложений. v. 191</span></div-->
            <div style="margin-left: 7%; background: linear-gradient(77deg, #6b667081 10%, #aef9ce00 100%);"><p style="margin: 0; padding: 0;">Сайт для создания</p><span style="margin-left: 10%;">статей. v. 195</span></div>
        </div>
        {% block clock %}
            {% include 'main/clock.html' %}
        {% endblock %}
    </header>