{% load static %}
    <header class="row">
        <div class="col-md-1"></div>
        <img class="col-md-1 app__logo" src="{% static 'main/img/logo.svg' %}" width="100" height="100" alt="логотип" style="transition: all 1.5s;" onmouseover="this.style.transform='scale(1.5) rotate(1440deg)';" onmouseout="this.style.transform='none';">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h1>D E P L O Y 53</h1>
            <br>
            <div style="margin-left: 7%;"><p style="margin: 0; padding: 0;">Студия создания сайтов и</p><span style="margin-left: 20%;">приложений</span></div>
        </div>
        {% block clock %}
            {% include 'main/clock.html' %}
        {% endblock %}
    </header>