{% load static %}
    <header class="row" style="background: linear-gradient(87deg, #2F649E 30%,#aef9ce00 70%) center fixed, url({% static 'main/img/stars.gif' %});">
        <div class="col-md-2"></div>
        <img class="col-md-1 app__logo" src="{% static 'main/img/logo.svg' %}" width="100" height="100" alt="логотип" style="transition: all 1.5s;" onmouseover="this.style.transform='scale(1.5) rotate(1440deg)';" onmouseout="this.style.transform='none';">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <h1>D E P L O Y 53</h1>
            <br>
            <p style="margin-left: -5%;">Студия создания сайтов и приложений</p>
        </div>
        {% block clock %}
            {% include 'main/clock.html' %}
        {% endblock %}
    </header>