<!DOCTYPE html>
{% load static %}
{% load bootstrap5 %}
<html lang="en">
    <head>
        <script src="https://kit.fontawesome.com/a97047fead.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <h1>{{ Header1 }}</h1>
        <h1>{{ Header1 }}</h1>
    </body>
</html>