{% extends 'main/homebase.html' %}
{% load static %}
{% block title %} Новости {% endblock %}
{% block main %}
    <main class="row">
        <div class="col-md-2 side_menu">
            <h1>Меню</h1>
            {% block sidebar %}
                {% block home %}<li><i class="fa-solid fa-house"></i><a href="/" style="text-decoration: none; color: #FDCE4B;">&nbspДомой</a></li>{% endblock %}
                {% block profile %}<li><i class="fa-solid fa-address-card"></i><a href="/account/" style="text-decoration: none; color: #FDCE4B;">&nbspМой профиль</a></li>{% endblock %}
                {% block registration %}<li><i class="fa-solid fa-file-pen"></i><a href="#" style="text-decoration: none; color: #FDCE4B;">&nbspРегистрация</a></li>{% endblock %}
                {% block account %}<li><i class="fa-solid fa-person-through-window"></i><a href="#" style="text-decoration: none; color: #FDCE4B;">&nbspВход в аккаунт</a></li>{% endblock %}
                {% block contacts %}<li><i class="fa-solid fa-address-book"></i><a href="/contacts/" style="text-decoration: none; color: #FDCE4B;">&nbspКонтакты</a></li>{% endblock %}
                {% block about %}<li><i class="fa-solid fa-people-group"></i><a href="/about/" style="text-decoration: none; color: #FDCE4B;">&nbspО нас</a></li>{% endblock %}
            {% endblock %}
        </div>
        <div class="col">
            <h1>А мы тут, знаете ли, плюшками балуемся XD</h1>
            {% block slider %} {% include 'main/team.html' %} {% endblock %}
            <a href="https://commons.wikimedia.org/w/index.php?curid=63377057">Авторство цифрового дождя: Jahobr. Собственная работа, CC0</a>
        </div>
    </main>
{% endblock %}

