{% extends 'main/homebase.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %} Удаление статьи {% endblock %}

{% block body %}
    <body>
        <div class="container-fluid" style="margin: 0; padding: 0;">
            {% block header %}
                {% include 'main/header.html' %}<!--header-->
            {% endblock %}
            {% block main %}
                <main style="background: url({% static 'main/img/page404.gif' %}) no-repeat;  background-size: cover; height: 90vh; margin: 0; padding: 0;">
                    {% block content %}
                       <i class="fa-solid fa-house"></i><a href="{% url 'home' %}" style="text-decoration: none; color: #FDCE4B;">&nbspДомой</a>
                    {% endblock %}
                </main>
            {% endblock %}
            {% block foot %}{% include 'main/footer.html' %} {% endblock %}
        </div>
        <script src="{% static 'main/js/main.js' %}" type="module"></script>
    </body>
{% endblock %}