{% load static %}
    <h1 class="text-center" style="font-family: Rubik Marker Hatch, cursive, Arial, Helvetica Neue, Helvetica, sans-serif;">Меню</h1>
    <ul>
        {% block home %}<!--li><i class="fa-solid fa-house"></i><a href="{% url 'home' %}" style="text-decoration: none; color: #FDCE4B;">&nbspДомой</a></li-->{% endblock %}
        {% block news %}<li><i class="fa-solid fa-radio"></i><a href="{% url 'news_index' %}" style="text-decoration: none; color: #FDCE4B;">&nbspНовости</a></li>{% endblock %}
<!--        {% block profile %}<li><i class="fa-solid fa-address-card"></i><a href="{% url 'user_index' %}" style="text-decoration: none; color: #FDCE4B;">&nbspМой профиль</a></li>{% endblock %}-->
<!--        {% block registration %}<li><i class="fa-solid fa-file-pen"></i><a href="{% url 'registration' %}" style="text-decoration: none; color: #FDCE4B;">&nbspРегистрация</a></li>{% endblock %}-->
<!--        {% block account %}<li><i class="fa-solid fa-person-through-window"></i><a href="#" style="text-decoration: none; color: #FDCE4B;">&nbspВход в аккаунт</a></li>{% endblock %}-->
        {% block contacts %}<li><i class="fa-solid fa-address-book"></i><a href="{% url 'contact' %}" style="text-decoration: none; color: #FDCE4B;">&nbspКонтакты</a></li>{% endblock %}
        {% block about %}<li><i class="fa-solid fa-people-group"></i><a href="{% url 'of' %}" style="text-decoration: none; color: #FDCE4B;">&nbspО нас</a></li>{% endblock %}
        {% block admin %}<!--li><i class="fa-solid fa-screwdriver-wrench"></i><a href="admin/" style="text-decoration: none; color: #FDCE4B;">&nbspАдминистратор</a></li-->{% endblock %}
        {% block create %}<!--li><i class="fa-solid fa-square-plus"></i><a href="#" style="text-decoration: none; color: #FDCE4B;">&nbspСоздать новость</a></li-->{% endblock %}
        {% block exit %}<!--li><i class="fa-solid fa-door-open"></i><a href="#" style="text-decoration: none; color: #FDCE4B;">&nbspВыход</a></li-->{% endblock %}
        {% block user %}
            {% include 'users/user-actions.html' %}
        {% endblock %}
        {% block readers %}{% endblock %}
    </ul>